.span {
  color: rgb(87, 214, 142);
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.header a {
  text-decoration: none;
}
.text {
  font-size: 50px;
  text-align: center;
}
.bot a {
  text-decoration: none;
}
.wrapper {
  max-width: 1000px;
  position: absolute;
}
.ipage {
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}
.pic {
  width: 400px;
}
.box2 {
  height: 430px;
  width: 400px;
  background-color: rgb(186, 233, 241);
  text-align: center;
  line-height: 28px;
}
.bot {
  font-size: 15px;
  background-color: rgb(0, 177, 94);
  border-radius: 5px;
  border: none;
  padding: 10px 70px;
}
.bot a {
  color: white;
  font-weight: bold;
}
.navar {
  display: flex;
  justify-content: space-between;
}
.navar header {
  padding-left: 10px;
}
.b {
  display: flex;
  gap: 30px;
  padding-right: 25px;
}
.box3 {
  width: 400px;
  height: 400px;
  background-color: transparent;
  line-height: 40px;
}
.outerbox {
  align-items: center;
}
.wrapper2 {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 100px;
}
.input-box input {
  width: 370px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px;
}
.input-box {
  padding-left: 30px;
}
.forgetpass {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}
.input-box button {
  height: 40px;
  width: 380px;
  border-radius: 5px;
  border: solid 1px;
  background-color: seagreen;
}
.box {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  background-color: transparent;
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}
.sidebar {
  position: fixed;
  background-color: rgb(0, 177, 94);
  width: 250px;
  height: 100%;
}
.sidebar h1 {
  text-align: center;
  padding-top: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 45px;
}
.sidebar ul li {
  line-height: 30px;
  padding-left: 15px;
}
.sidebar ul li a {
  color: black;
}
.sidebar ul li a:hover {
  color: white;
}
.txt {
  font-size: smaller;
}
.sidebar ul li:hover {
  background-color: rgb(0, 177, 94);
  width: 236px;
  height: 50px;
  color: white;
}
.mainbox {
  margin-left: 290px;
}
.mainbox h1 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration-line: underline;
  text-decoration-color: rgb(27, 238, 27);
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.inputs {
  display: flex;
  gap: 90px;
  padding-right: 50px;
}
.inputs input {
  border-radius: 15px;
  width: 250px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid gray;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.box {
  line-height: 40px;
}
.box p {
  padding: 5px;
}
.box h2 {
  margin: 5px;
}

.note-footer .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  margin-right: 5px;
}

.add-notes {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: 5px;
}

.name img {
  margin-left: 40px;
  transform: translateY(590px);
  border-radius: 50%;
}
.name h3 {
  float: right;
  margin-right: 105px;
  transform: translateY(100px);
}
.name p {
  bottom: 0;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 50px;
  transform: translateY(500px);
}
